@model GetreadyProject.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSkills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseSkills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
